* {
  margin: 0;
  padding: 0;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
body{
    background-color:whitesmoke;

}
img{cursor: pointer;}
header{
  width: 100%;
  box-sizing: border-box;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
}
.input-center{
  width: 40%;
  display: flex;
  align-items: center;
  background-color: rgba(226, 222, 222, 0.667);
  border-radius: 5px;
  height: 40px;

}
.ql-input{
  width: 80%;
  display: flex;
  align-items: center;

}
.ql-input input{
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
  height: 30px;
  background-color: rgba(211, 211, 211, 0.064);
  padding-left: 15px;
  caret-color: #EAA451;

}
.ql-input img{
  
  width: 20px;
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.logo-img{
  position: absolute;
  left: 100px;
  top: 35px;
  width: 10px;
}

.logo-img img{
  width: 150px;
  cursor: pointer;
}
.header-right{
  position: absolute;
  right: 50px;
}
.header-right i{
   font-size: 20px;
   margin-right: 15px;
   position: relative;

}
.header-right .fa-heart::after{
position: absolute;
  content: "5";
  background-color: red;
  left: 12px;
  top: -8px;
  color: white;
  border-radius: 50%;
 width: 15px;
 height: 15px;
 font-size: 10px;
 text-align: center;
 line-height: 1.5;
 border: 2px solid white;
  

}
.header-right .fa-cart-shopping::after{
  position: absolute;
    content: "2";
    background-color: red;
    left: 12px;
    top: -8px;
    color: white;
    border-radius: 50%;
   width: 15px;
   height: 15px;
   font-size: 10px;
   text-align: center;
   line-height: 1.5;
 border: 2px solid white;
    
  
  }


.icon2 .img-header{
  width: 12px;
}
.icon2 .imguser{
  border-radius: 5px;
  margin-right: 5px;
}
.tt-user{
  margin-right: 10px;
}
.tt-user .nameUser{
  font-weight: 550;
}
.tt-user .email-user{
font-size: 14px;
}
.icon2 {
  display: flex;
  align-items: center;

}
.icon2 img{
  width: 40px;
}
.menu{
  display: flex;
  align-items: center;
  font-weight: 550;
  margin-left: 20px;
  font-size: 15px;
  margin-right: 20px;

}
.menu img{
  width: 10px;
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
}
.Books{
  width: max-content;
  font-weight: 550;
  font-size: 35px;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.listView{
  display: flex;
  background-color: white;
  margin: 0 60px;
  justify-content: space-between;
  align-items: center;
  height: 40px;

  margin-bottom: 20px;

}
.Today-thisWeed{
  display: flex;
  font-weight: 550;
  color: gray;
  margin-left: 20px;
  font-size: 14px;
  cursor: pointer;

}
.today{
  color: black;
}
.Today-thisWeed div{
  margin-right: 20px;
}
.feature-btn{
  display: flex;
  align-items: center;
  height: 100%;
}
.feature1 img{
  width: 17px;
  margin-right: 10px;
}


.feature-btn.g{
  height: 100%;
  border-left:1px solid lightgray ;
  display: flex;
  align-items: center;


}
.feature-btn.g img{
width: 17px;
margin: 0 10px;

}
.feature-btn.g.c img{
   margin-top:5px;
}
.feature-btn.g.c .f{
  width: 15px;
  cursor: pointer;
}
.feature-btn.g div{
  margin-right: 10px;
  font-weight: 550;
  font-size: 14px;
}
.ngancach{
  width: 1px;
  background-color: lightgray;
  margin: 0 10px;
}
.filter-right{
  display: flex;
  align-items: center;
}
.listproduct{
  width: calc(100% -120px);
  margin: 0 60px;
  background-color: transparent;


}
.product-sun{
  width: 100%;
  background-color: white;
  display: flex;  
  box-sizing: border-box;
  padding: 15px 20px;
  margin-top: 20px;
}
.part-1{
  width: 15%;
  height: 200px;
  background-color: lightgray;
  border-radius: 10px;

}
.part-1 img{
   width: 100%;
   height: 100%;
  border-radius: 10px;

}
.part-2{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 50%;
}
.part-2 .part-text1{
  color: #6C5DD3;
}
.part-2 .part-text2{
  font-weight: 600;
  font-size: 30px;
  margin: 15px 0;
}
.part-2-last{
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-top: 10px;
}
.part-2 .part-text3{
  font-size: 13px;
}
.part-2-last-1{
  display: flex;
  flex-direction: column;
}
.part-2-last-2{
  display: flex;
  flex-direction: column;

}
.part-2-last-3{
  display: flex;
  flex-direction: column;

}
.list-start i{
  color: orange;
}
.part-3{
  width: 35%;
  display: flex;
  flex-direction: column;

  align-items: end;

}
.part-3-btn{
  border: 1px solid orange;
  color: orange;
  height: 30px;
  line-height: 2;
  padding: 0 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 1px;
  cursor: pointer;
}
.tien{
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}































.ft-top {
  width: 100%;
  height: 266px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-sizing: border-box;
  background-color: #131045;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  margin-top: 30px;
  
}
.ft-top-text {
  width: 500px;
  height: 110px;

  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
}
.ft-top-input input {
  height: 39px;
  width: 300px;
  padding-left: 15px;
  background-color: transparent;
  color: white;
  outline: none;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  font-family: Poppins;
}
.ft-top-input input::placeholder {
    color: whitesmoke;
  }
  .ft-top-input button{
    height: 42px;
    width: 150px;
    margin-left: -10px;
    background-color: #EAA451;
    border: none;
    border-radius: 5px;
    color: white;
    padding-bottom: 2px;
    cursor: pointer;
  }
  .ft-bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: white;

  }
  .list-ul-li{
    display: flex;
    margin-left: 120px;
    width: calc(100% -120px);
  }
  .list-ul-li ul{
    list-style: none;
    width: max-content;
    margin-right: 50px;
    width: 16.6%;
  }
  .categories{
    color: #363848;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    margin-left: 120px;
  }
  .list-ul-li ul li{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    margin-bottom: 10px;
    color: gray;
  }

  .div-chia2{
    width:100%;
    box-sizing: border-box;
    margin-top: 1px;
    background-color: white;
    padding-top: 30px;
    display: flex;

  }
  .div-1{
    width:calc(40% - 60px);
    margin-left: 120px;
    
  }
  .div-2{
    width:calc(50% - 60px);
    height: 250px;
  }
  .logosach{
     width: 200px;
     cursor: pointer;
  }
  .div-2-text{
    font-weight: 600;
    font-size: 20px;
line-height: 36px;
  }

  .ql-img{
    width: 258px;
    height: 108px;
    margin-left: 50px;
   
  }
  .ql-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
  }
.wrapper-ttlh-img{
    display: flex;
}
.wrapper-ttlh{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.sun-wrapper-ttlh{
    display: flex;
    margin-top: 10px;
}
.sun-wrapper-ttlh .sun-text{
    font-size: 15px;

}
.sun-wrapper-ttlh img{
    height: 20px;
    margin-top: 3px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;

}
.div-1-text{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}
::-webkit-scrollbar{
    width: 0;
}

.foot-sticky{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: white;
    margin-top: 1px;
    
}
.foot-sticky div{
    font-size: 15px;
}
.list-img-div1 img{
    cursor: pointer;
}
.part-3-list-btn{
  display: flex;
}
.part-3-list-btn div{
  font-size: 14px;
  white-space: nowrap;

  
}
.cha-add-to-card{
  display: flex;
  margin-top: 20px;
}
.add-to-card{
  background-color: #131045;
  color: white;
  width: 120px;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 10px;
  cursor: pointer;
}
.add-to-card img{
  width: 18px;
  margin-right: 10px;
  margin-top: 1px;
}
.btn-heart1{
  height: 38px;
  width: 40px;
  border: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
  line-height: 2.5;
  margin-left: 10px;
  cursor: pointer;
}
