.content{
    padding-left: 5%;
    padding-top: 80px;
    width: 100%;
    height: 940px;
    background-image: url("/public/content/background.png");
    font-family: 'Poppins';
    background-size: cover;
    
}

.heading{
    
    width: 40%;
    height: max-content;
}
.best_seller_content{
    margin-left: 10px;
    
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 20px;
    color:#F0BBE3;
}
.thing_grow{
    
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    color: #FFFFFF;
    margin-top: 30px;
}
.business{
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}
.business p{
 
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.business >p{
    margin-right: 30px;
}
.heading span{

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}
.price_content{
    height: 60px;
    display: flex;
    width: 220px;
    justify-content: space-between;
    color: white;
    position: relative;
}
.new_price_content{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
}
.old_price_content{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #5F5C9D;
    position: absolute;
    bottom: 15px;
    left: 90px;
}

.sale_off_content{
    height: 32px;
    width: 81px;
    background-color:#FF1E6F;
    line-height: 32px;
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 150px;
}

#buy_now_content{
    height: 55px;
    width: 180px;
    font-size: 23px;
    background-color: #F0BBE3;
    margin: 10px 15px 0 0 ;
    border-radius: 7%;
}

#see_detail_content{
    color: white;
    height: 55px;
    width: 180px;
    background-color: #131045;
    border: 1px solid #FFFFFF;
    border-radius: 7%;
    font-size: 20px;
}

.our_partner{
    padding: 10px;
    height: 80px;
    width: 30%;
    margin-top: 80px;
    
    
}
.our_partner_bot{
    display: flex;
    justify-content: space-between;
    padding-top:15px;
}
.our_partner p{
    font-size: 17px;
    color: white;
}
.icon_partner{
    height: 20px;
    width: 20px;
}
.icon_brand{
    width: 10%;
    height: 40px;
}
.logo_brand{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}