
  body{
      background-color:whitesmoke;
  
  }
  .ft-top {
    width: 100%;
    height: 266px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-sizing: border-box;
    background-color: #131045;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
  }
  .ft-top-text {
    width: 500px;
    height: 110px;
  
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
  }
  .ft-top-input input {
    height: 39px;
    width: 300px;
    padding-left: 15px;
    background-color: transparent;
    color: white;
    outline: none;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-family: Poppins;
  }
  .ft-top-input input::placeholder {
      color: whitesmoke;
    }
    .ft-top-input button{
      height: 42px;
      width: 150px;
      margin-left: -10px;
      background-color: #EAA451;
      border: none;
      border-radius: 5px;
      color: white;
      padding-bottom: 2px;
      cursor: pointer;
    }
    .ft-bottom{
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      background-color: white;
  
    }
    .list-ul-li{
      display: flex;
      margin-left: 120px;
      width: calc(100% -120px);
    }
    .list-ul-li ul{
      list-style: none;
      width: max-content;
      margin-right: 50px;
      width: 16.6%;
    }
    .categories{
      color: #363848;
      font-weight: 600;
      font-size: 15px;
      line-height: 30px;
      margin-left: 120px;
    }
    .list-ul-li ul li{
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      white-space: nowrap;
      margin-bottom: 10px;
      color: gray;
    }
  
    .div-chia2{
      width:100%;
      box-sizing: border-box;
      margin-top: 1px;
      background-color: white;
      padding-top: 30px;
      display: flex;
  
    }
    .div-1{
      width:calc(40% - 60px);
      margin-left: 120px;
      
    }
    .div-2{
      width:calc(50% - 60px);
      height: 250px;
    }
    .logosach{
       width: 200px;
    }
    .div-2-text{
      font-weight: 600;
      font-size: 20px;
  line-height: 36px;
    }
  
    .ql-img{
      width: 258px;
      height: 108px;
      margin-left: 50px;
     
    }
    .ql-img img{
      width: 100%;
      height: 100%;
      border-radius: 10px;
      cursor: pointer;
    }
  .wrapper-ttlh-img{
      display: flex;
  }
  .wrapper-ttlh{
      display: flex;
      flex-direction: column;
      width: 50%;
  }
  .sun-wrapper-ttlh{
      display: flex;
      margin-top: 10px;
  }
  .sun-wrapper-ttlh .sun-text{
      font-size: 15px;
  
  }
  .sun-wrapper-ttlh img{
      height: 20px;
      margin-top: 3px;
      margin-right: 10px;
      border-radius: 10px;
      cursor: pointer;
  
  }
  .div-1-text{
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  ::-webkit-scrollbar{
      width: 0;
  }
  
  .foot-sticky{
      display: flex;
      justify-content: space-around;
      width: 100%;
      height: 50px;
      align-items: center;
      
  }
  .foot-sticky div{
      font-size: 15px;
  }
  .list-img-div1 img{
      cursor: pointer;
  }