@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slide_component{
    padding:0 30px;
    width: 100%;
    margin: 30px auto;
    height: max-content;
    background-image: url("/public/slide/banner01\ \(3\).png");
    background-size: cover;
}
.slide img{
    width: 200px;
    height: 400px; 
    margin: 0 auto;
}
    .slide {
    
    transform: scale(0.8);
    transition: transform 300ms;
    opacity: 1;
    text-align: center;
}
.activeSlide{
    transform: scale(1.2);
    transition: transform 300ms;
    opacity: 1;
}
.nextActiveSilde{
    transition: transform 300ms;
    transform: scale(0.8);
    opacity: 1;
}
.arrow{
    background-color: aliceblue;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}
.next{
    right: 0;
    top:40%
}
.prev{
    left: 0;
    top: 40%;
}
.comender{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-bottom: 30px;
}
.comender p{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #11142D;
}
.btn_slide{
    width: 180px;
    height: 45px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: rgb(250, 186, 66);
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bolder;
    color: white;

}
.btn_slide:hover{
    cursor: pointer;
}
.Slide_5_elements{
    display: none;
}
.Slide_3_elements{
    display: none;
}
@media (max-width:1800px){
    .Slide_5_elements{
        display: block;
    }
    .Slide_7_elements{
        display: none;
    }
}
@media (max-width:1200px){
    .Slide_5_elements{
        display: none;
    }
    .Slide_7_elements{
        display: none;
    }
   
    .Slide_3_elements{
        display: block;
    }
    
}
@media (max-width: 675px) {
    .Slide_5_elements{
        display: none;
    }
    .Slide_7_elements{
        display: none;
    }
   
    .Slide_3_elements{
        display: block;
    }
    .slide {
    
        transform: scale(0.6);
        transition: transform 300ms;
        opacity: 1;
        text-align: center;
    }
    .activeSlide{
        transform: scale(0.85);
        transition: transform 300ms;
        opacity: 1;
    }
}
.slick-track {
    height: 570px;
}
@media (max-width: 585px) {
    .Slide_5_elements{
        display: none;
    }
    .Slide_7_elements{
        display: none;
    }
   
    .Slide_3_elements{
        display: block;
    }
    .slide {
    
        transform: scale(0.5);
        transition: transform 300ms;
        opacity: 1;
        text-align: center;
    }
    .activeSlide{
        transform: scale(0.8);
        transition: transform 300ms;
        opacity: 1;
    }
}