.icon_brand{
    width: 180px;
    height: 40px;
    margin-right: 10px;
    
    
}
.brand{
    width: 100%;
    height: max-content;
   display: flex;
   justify-content: space-between;
    padding: 100px 5%;
}
@media (max-width:1065px){
    .brand{
        display: inline-block;
        text-align: center;
        padding: 0;
    }
    .icon_brand{
        
        margin: 50px;
        
        
    }
}

